$grey: #B09286;
$main: #000;
$main2: #51340E;
$accent: #6A4242;
$bg: #F4EADD;
$bg2: #F6E3CA;

$yellow: #edcd40;
$error: #e84444;
$success: #4dc545;

$input-accent: #40a9ff;

$admin-grey: #C4C4C4;
$admin-grey2: #858585;
$admin-accent: #746AE4;
$admin-main: #222;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import './components.scss';
@import './generetic.scss';
@import './hoc.scss';
@import './product.scss';
@import './cart.scss';
@import './media.scss';
@import './admin.scss';
@import './admin-widgets.scss';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: $bg;
}

* {
  font-family: 'Raleway', sans-serif;
  color: $main2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  box-shadow: none;
  background: none;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: 1px solid $accent;
  padding: 8px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  line-height: 1.5em;
  a {
    text-decoration: underline;
  }
}

a {
  color: $main;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

.page {
  h1 {
    margin-bottom: 30px;
  }
}

*[click-animating=true]:after {
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
  animation: fadeEffect 2s cubic-bezier(.08,.82,.17,1), waveEffect .4s cubic-bezier(.08,.82,.17,1);
}

@keyframes fadeEffect {
  to { opacity: 0; }
}

@keyframes waveEffect {
  to {
    box-shadow:0 0 rgba($accent, .6);
    box-shadow:0 0 0 5px rgba($accent, .3);
  }
}