@media screen and (max-width: 1300px) {
  .container {
    max-width: 96% !important;
  }
}

@media screen and (max-width: 1200px) {
  .catalog {
    .product {
      width: calc(33% - 10px);
    }
  }
  .products {
    .product {
      width: calc(25% - 10px);
    }
  }
}

@media screen and (max-width: 1080px) {
  .mobile-none {
    display: none;
  }
  .header {
    &__admin { display: none; }
    &__burger, &__close {
      display: block;
    }
    &__logo {
      margin-right: auto;
      margin-left: 10px;
    }
    &__menu {
      display: none;
      &-mobile {
        position: fixed;
        z-index: 16;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;
        width: 340px;
        display: block;
        background: $bg2;
        border-right: 2px solid $main2;
        padding: 80px 30px 30px 5%;
        transform: translateX(-100%);
        transition: .15s;
        &.active {
          transform: translateX(0);
        }
        .lr {
          margin-top: 40px;
          a {
            display: block;
            font-size: 18px;
            margin-bottom: 15px;
            &:hover, &.active {
              text-decoration: underline;
              text-underline-offset: 2px;
            }
          }
        }
        li {
          margin-bottom: 20px;
          a {
            font-size: 18px;
            &:hover, &.active {
              text-decoration: underline;
              text-underline-offset: 2px;
            }
          }
        }
      }
    }
  }
  .home {
    &-first {
      h1 {
        font-size: 45px;
      }
      &__col {
        width: 420px;
        margin-top: 25vh;
        margin-right: 20%;
      }
      &__form {
        padding: 25px 16px;
      }
    }
    &-advantages {
      &__image {
        margin-left: 20px;
      }
    }
  }
  .scroll-circle {
    right: 2%;
  }
  .partners {
    &-first {
      h1 {
        font-size: 50px;
      }
    }
  }
  .rewards {
    &__col {
      width: 45%;
    }
  }
  .callback-section {
    img {
      max-width: 50%;
    }
    &__form {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .catalog {
    flex-direction: column;
    &__filter {
      display: none;
    }
  }
  .action {
    &__text {
      padding: 30px 20px;
    }
  }
  .partners {
    p {
      font-size: 18px;
    }
    .block-with-image {
      flex-direction: column;
      img {
        width: 500px;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  .products {
    .product {
      width: calc(33% - 10px);
    }
  }
  .single-product {
    &__info {
      padding-top: 20px;
      padding-right: 20px;
    }
    &__image {
      height: 100%;
      max-height: 100%;
      max-width: 400px;
    }
    &__arrows {
      right: auto;
      left: 0;
      .arrow {
        height: 40px;
        width: 40px;
        svg {
          height: 20px;
        }
      }
    }
  }
  .comments {
    &__flex {
      flex-direction: column;
    }
    &__list {
      width: 100%;
      padding-right: 0;
    }
    .create-comment {
      width: 100%;
    }
  }
  .home-first {
    .container {
      flex-direction: column;
    }
    h1 {
      margin-top: 20px;
    }
    &__col {
      width: 100%;
      margin-top: 40px;
      margin-right: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      p {
        margin-left: 20px;
      }
    }
    &__form {
      margin-top: 0;
    }
  }
  .scroll-circle {
    top: 450px;
    right: auto;
    left: 450px;
    &__line {
      display: none;
    }
  }
  .numbers-section {
    .container {
      flex-wrap: wrap;
    }
    &-item {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    &.d-flex {
      flex-direction: column;
      > *:first-child {
        margin-bottom: 40px;
      }
    }
  }
  .section-title {
    margin-bottom: 20px;
  }
  .home {
    &-first {
      margin-bottom: 30px;
    }
    &-advantages {
      &__image {
        margin-left: 0;
      }
    }
    &-info {
      &__col {
        margin-left: 0;
      }
    }
  }
  .partners {
    &-first {
      margin-bottom: 30px;
    }
  }
  .section-image {
    .container {
      flex-direction: column-reverse;
    }
    img {
      max-width: 100%;
      margin-bottom: 0;
    }
    &__info {
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
  .callback-section {
    img {
      max-width: 100%;
    }
    &__form {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 20px;
  }
  .header {
    &__partners {
      min-width: auto;
      font-size: 14px;
      padding: 0 25px 0 15px;
      width: auto;
    }
    &__cart p, &__user, &__logout  {
      display: none;
    }
  }
  .products {
    .product {
      width: calc(50% - 10px);
    }
  }
  .action {
    &__image {
      display: none;
    }
  }
  .partners {
    .rewards {
      &__header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        h2 {
          margin-bottom: 15px;
        }
      }
      &__col {
        width: 100%;
        padding-right: 0;
      }
    }
    .reward {
      &:last-child {
        margin-bottom: 0;
      }
      &:after {
        max-width: 100%;
        width: 100%;
      }
      &.download {
        padding: 20px;
      }
      p {
        max-width: 100%;
      }
    }
  }
  .single-product {
    flex-direction: column-reverse;
    &__image {
      height: 300px;
      max-width: 300px;
      margin-right: auto;
    }
    &__info {
      padding-top: 30px;
      padding-right: 0;
      h1 {
        font-size: 26px;
      }
    }
  }
  .personal-area {
    &__content {
      flex-direction: column-reverse;
    }
    &__form {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  .page {
    h1 {
      font-size: 28px !important;
    }
  }
  .home-first {
    h1 {
      font-size: 40px;
    }
    &__col {
      width: 420px;
      flex-direction: column;
      margin-right: 30px;
      p {
        margin-left: 0;
      }
    }
    &__form {
      margin-top: 20px;
    }
  }
  .scroll-circle {
    display: none;
  }
  .callback-form {
    h2, h3 {
      margin-bottom: 20px;
    }
    .button {
      margin-top: 20px;
    }
    .input {
      font-size: 16px;
      input {
        padding: 8px 15px;
      }
    }
  }
  .partners {
    p {
      font-size: 16px;
    }
    &-first {
      h1 {
        font-size: 36px;
      }
      &:before {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
      &:after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, $accent, transparent);
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      * {
        color: #fff;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 96% !important;
  }
  .partners {
    h2 {
      font-size: 24px;
    }
    ul li {
      font-size: 16px;
      margin-bottom: 12px;
    }
    p {
      font-size: 16px;
    }
    .reward__number {
      font-size: 24px;
    }
  }
  .action {
    padding: 5px;
    &__title {
      font-size: 20px;
    }
    &__list {
      font-size: 14px;
    }
    &__text {
      padding: 15px;
    }
    &__close {
      right: 0;
      top: 0;
    }
    &__done {
      font-size: 20px;
      left: 0;
      width: calc(100% - 30px);
      margin: 10px 15px;
    }
    .input {
      font-size: 20px 15px;
      input {
        padding: 10px 15px;
      }
    }
  }
  .cart {
    width: 100%;
    padding-top: 38px;
    &__items {
      padding: 0 10px 0 10px;
    }
  }
  .title {
    font-size: 28px !important;
  }
  .comment {
    &__header {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &__product {
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .header {
    padding: 10px 0;
    margin-bottom: 30px;
    &__menu-mobile {
      width: 100%;
      padding-left: 5%;
    }
    &__info {
      margin-right: 110px;
      svg {
        height: 20px;
      }
    }
    &__partners {
      position: absolute;
      height: 42px;
      right: 0;
    }
  }
  .cart-item {
    &__name {
      font-size: 15px;
    }
  }
  .products {
    .product {
      min-width: 100px;
      max-width: 300px;
      width: calc(50% - 6px);
      margin: 0 3px 15px;
      flex: none;
      &__name {
        font-size: 14px;
      }
      &__price {
        font-size: 16px;
      }
      &__image {
        height: 250px;
      }
      &__add {
        position: relative;
        &.mobile {
          .count {
            bottom: 100%;
            &__btn, &__wrap {
              height: 35px;
            }
          }
        }
        .count {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          justify-content: space-between;
          background: $bg;
          border: 2px solid $accent;
          z-index: 2;
          transition: .2s;
          &__btn, &__wrap {
            border: none;
            height: 28px;
          }
        }
        .button {
          margin-left: 0;
          font-size: 14px;
          min-height: 32px;
          padding: 6px 10px;
          z-index: 2;
        }
      }
    }
  }
  .lr-form {
    margin: 0 auto;
    padding: 10px;
  }
  .image-popup {
    &__content {
      max-width: 90%;
    }
    &__arrow {
      height: 50px;
      width: 50px;
    }
  }
  .home {
    &-advantages {
      &__point {
        font-size: 16px;
      }
    }
  }
  section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 26px;
  }
  .faq {
    .item__title {
      font-size: 18px;
    }
    .item__toggle {
      margin-top: 0;
    }
  }
  .footer {
    .container {
      flex-direction: column;
      > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  .rewards {
    &__col {
      margin-right: 0;
    }
    &-item {
      h3 {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .products {
    .product {
      &__image {
        height: 200px;
      }
    }
  }
  .cart-item {
    &__name {
      font-size: 14px;
    }
  }
  .product-search {
    margin-bottom: 20px;
    &__icon svg {
      height: 18px;
    }
    &__input {
      height: 38px;
    }
    .input {
      font-size: 15px;
    }
  }
}