:root {
  --columns: 4;
  --margin: 50px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  .product {
    width: calc(100% / var(--columns) - var(--margin));
    margin-right: var(--margin);
    margin-bottom: var(--margin);
  }
}

.product {
  position: relative;
  min-width: 230px;
  max-width: 250px;
  width: 100%;
  &__content {
    padding: 10px 5px;
    position: relative;
  }
  &__name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__add {
    display: flex;
    .count {
      width: 100%;
    }
    .button {
      width: 100%;
      min-width: auto;
      margin-left: 10px;
    }
  }
  &__image {
    cursor: pointer;
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}

.single-product {
  position: relative;
  display: flex;
  &__info {
    flex: 1 1 55%;
    padding-top: 50px;
    padding-right: 12%;
    h1 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
  &__price {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__add {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 40px;
    .button {
      margin-right: 20px;
    }
  }
  &__rating {
    margin-bottom: 10px;
  }
  &__images {
    flex: 1 1 45%;
    img {
      max-width: 500px;
      width: 100%;
      display: block;
      margin-left: auto;
    }
  }
}