.products {
  display: flex;
  flex-wrap: wrap;
  .product {
    width: calc(20% - 10px);
    margin: 0px 5px 30px;
  }
}

.catalog {
  .product {
    width: calc(25% - 10px);
  }
}

.product {
  position: relative;
  min-width: 220px;
  // max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: .2s;
  &:hover {
    .product__name {
      text-decoration: underline;
    }
  }
  &__content {
    padding: 10px 5px;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    flex: 1 1 auto;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__add {
    display: flex;
    align-items: flex-end;
    .count {
      // width: 100%;
    }
    .button {
      width: 100%;
      padding: 8px 0;
      min-width: auto;
      margin-left: 10px;
    }
  }
  &__image {
    cursor: pointer;
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}

.product-line {
  display: flex;
  margin-bottom: 15px;
  &__image {
    flex: 60px 1 1;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    } 
  }
  &__name {
    margin-top: 10px;
    flex: 50% 1 1;
    font-size: 14px;
    padding-left: 10px;
  }
  &__price {
    margin-top: 10px;
    flex: 20% 1 1;
    text-align: right;
  }
  &__count {
    margin-top: 10px;
    flex: 15% 1 1;
    text-align: right;
  }
}

.single-product {
  position: relative;
  display: flex;
  &__info {
    flex: 1 1 50%;
    padding-top: 50px;
    padding-right: 6%;
    h1 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
  &__price {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__add {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
    .button {
      margin-right: 20px;
    }
  }
  &__rating {
    margin-bottom: 10px;
  }
  &__images {
    flex: 1 1 50%;
    position: relative;
  }
  &__arrows {
    position: absolute;
    bottom: 0;
    right: 510px;
    .arrow {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid $accent;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        stroke-width: 1px;
      }
    }
  }
  &__image {
    width: 100%;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin-left: auto;
    display: block;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    width: 100%;
    max-width: 800px;
    margin: 60px auto 0;
  }
  &__categories {
    h4 {
      display: block;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      margin-right: 8px;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 1px;
      }
    }
  }
  &__attributes {
    margin-bottom: 20px;
    h4 {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .attribute {
      margin-bottom: 6px;
      margin-left: 10px;
      span {
        margin-left: 5px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 1px;
        }
      }
    }
  }
}